:root {
  --color-naru-red: #ff005c;
  --color-naru-white: #ffffff;
  --color-naru-dark-border: #b3b3b3;
  --color-naru-black: #3b3b3b;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Hubot Sans Variable', sans-serif;
}

mark {
  background-color: var(--color-naru-red);
  color: white;
}

h1 {
  font-size: clamp(12px, 3vw, 1.25rem);
  font-weight: 600;
  font-style: italic;
  letter-spacing: 4px;
  color: var(--color-naru-red);
  margin: 0 12px 0px 0px;
  padding: 0;
}

.museum-img {
  max-width: 400px;
  max-height: 600px;
  min-width: 250px;
  min-height: 250px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  box-shadow-blur: 24px;
  box-shadow: 8px 24px 24px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.banner-img {
  margin-top: 4px;
  width: 100%;
  max-width: 56.25rem;
  max-height: 100%;
  object-fit: contain;
}

h2 {
  font-size: 1.1rem;
  font-weight: 600;
}

h3 {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
}

p {
  font-size: 1.05rem;
  margin-left: 2.5rem;
  font-weight: 400;
}

li {
  font-size: 1.05rem;
  margin-left: 2rem;
  font-weight: 400;
}

.container {
  max-width: 850px;
  height: auto;
  padding: 0px 2rem;
  align-self: center;
  margin-left: auto;
}

.banner {
  margin-top: 4rem;
}

button.active  {
  background-color: var(--color-naru-red);
  transition: 0.4s;
  color:  var(--color-naru-white);
  font-style: italic;
  font-weight:  600;
}

button {
  display: inline-flex;
  border: 1px solid var(--color-naru-dark-border);
  margin-top: 0rem;
  background-color: var(--color-naru-white);
  color: var(--color-naru-black);
  font-weight: 600;
  flex: 1;
  height: clamp(40px, 2vw, 55px);
  font-size: clamp(10px, 2vw, 1rem);
  justify-content: center;
  align-items: center;
}

.banner-buttons {
    display: flex;
    justify-content: space-between;
    height: 50px;
    position: sticky;
    top: 0;
  width: 100%;
  align-items: center;
  gap: 8rem;
  padding-left: 4rem;
  padding-right: 4rem;
  background-color: var(--color-naru-white);
  z-index: 1000;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  gap: 10px;
}

.container-grid div {
  background-color: var(--color-naru-white);
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-naru-dark-border);
  padding: 1rem;
}


.home-banner-buttons {
  display: flex;
}

.banner-buttons-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  max-width: 60%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.banner-name-container {
  display: flex;
  justify-content: center;
  width: 10%; 
}

.banner-buttons button{
  border: none;
  height: 100%;
}

.container-buttons {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  justify-self: center;
  max-width: 100%;
}

.container-buttons button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  justify-self: center;
  max-width: 80%;
  font-size: clamp(12px, 2vw, 1rem);
}

.social-buttons {
  display: inline-flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center; 
  margin: 1rem;
  max-width: 90%;
}

.social-buttons button{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 0.9rem;
  color: var(--color-naru-black);
  transition: 0.2s;
  font-size: 1.1rem;
}

.social-buttons button:hover{
  transition: 0.25s;
  color: var(--color-naru-red);
  text-decoration: underline;
}

.gallery-container {
  max-width: 1200px;
  height: auto;
  padding: 0px;
  align-self: center;
  justify-self: center;
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  gap: 12px;
}

div.gallery img {
  transition: 0.25s;
}
div.gallery .gallery-item img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 19rem;
  object-fit: cover;
  box-shadow: 8px 12px 12px rgba(0, 0, 0, 0.1);
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

div.gallery img:hover {
  transition: 0.25s  ease;
  scale: 1.02;
  rotate: 1deg;
  cursor: pointer;
}

div.gallery .gallery-item-small-square img {
  max-width: 5rem;
  max-height: 5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow-blur: 24px;
  box-shadow: 8px 12px 12px rgba(0, 0, 0, 0.1);
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

div.gallery desc {
  padding: 15px;
  text-align: center;
}